
  



<style>

  .fa-copy,.fa-cog{

     color:black;

     font-size:32px; 

     margin-left:10px;

     text-align:right;

   }

   .fa-copy:hover,.fa-cog:hover{

     color:#7f8c8d;

   }

  

  </style>
